.profile {
  display: flex;
  flex-direction: column;
  width: 50em;
  padding: 15px;
  border-radius: 15px;
  background-color: #d8e6d8;
  -webkit-box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.66);
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.66);
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.personal-data {
  margin: 15px;
}
.info > img {
  width: 152px;
  width: 140px;
  border-radius: 20%;
}
.interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 3px 5px 30px -4px rgba(0, 0, 0, 0.57);
  box-shadow: 3px 5px 30px -4px rgba(0, 0, 0, 0.57);
}
.icon {
  font-size: 45px;
  margin: 10px;
}
@media only screen and (max-width: 450px) {
  .profile {
    margin: 10px;
    width: 90%;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .interests {
    padding: 10px;
  }
  .stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
